*{
margin:0;
font-family:tahoma,arial;
transition:0.5s height;
font-weight: 100;
 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body{
	box-shadow:2px 3px 3px #333;
}
#mtc_boot_loader{
 background:#343953;
 top:0;
 color:#fbfbfb;
  -webkit-transition: all 0.75s ease;  
 width:100%;
 height:100%;
 opacity:1;
 transition-duration:2s;
 z-index:10000;
 position:absolute;
}
#mtc_boot_loader div{
width:70%;
top:45%;
position:absolute;
margin-left:13%;
padding:5px;
}

textarea:focus, input:focus{
    outline: 0;
//*range*//
input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
    width: 45px;

    &:focus {
        box-shadow: none;
        outline: none;
    }

    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        background: #666;
        height: 3px;
    }

    &::-webkit-slider-thumb:before {
        position: absolute;
        top: 0;
        right: 50%;
        left: -200px;
        background: #e00;
        content: '';
        height: 3px;
        pointer-events: none; //Update after comment of @Rich Smith
    }


    &::-webkit-slider-thumb {
        width: 0;
        height: 0;
        -webkit-appearance: none;
        position: relative;
    }

    &::-moz-range-track {
        width: 45px;
    }

    &::-moz-range-thumb {
        width: 3px;
        height: 3px;

        -moz-appearance: none;
        background: transparent;
        border: 0;
        border-radius: 0;
        box-shadow: 0;
        position: relative;
    }

    &::-moz-range-progress {
        background: #e00;
    }

    &::-ms-track {
        background: transparent;
        border: 0;
        border-color: transparent;
        border-radius: 0;
        border-width: 0;
        color: transparent;
        height: 3px;
        width: 45px;
    }

    &::-ms-fill-lower {
        background: #e00;
        border-radius: 0;
    }

    &::-ms-fill-upper {
        background: #666;
        border-radius: 0;
    }

    &::-ms-thumb {
        width: 0;
        height: 0;
        background: transparent;
    }

    &::-ms-tooltip {
        display: none;
    }
}
//*range*//
}
::-webkit-scrollbar {  
    width:8px;  
} 
::-webkit-scrollbar:hover {  
    width: 9px;  
} 
::-webkit-scrollbar-track {  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #aaa;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #403C3F;  
} 
::-webkit-scrollbar-thumb:active {  
    background-color: #BA3500;  
}  
.healist{
background-color:rgba(44,44,44,0.6);
box-shadow:-1px -1px 12px #333 inset;
color:#ddd;
}
h2,h3{
padding:5px;
}
body{
background-size:cover;
}
header{
position:fixed;
top:0;
width:100%;
padding-top:6px;
/*background:#fffffb;*/
background:rgba(255,255,255,0.92);
color:#666;
height:40px;
margin-bottom:40px;
}
#lockimgac{
height:100px;
width:100px;
border-radius:50%;
border:2px solid #fff;
box-shadow:1px 2px 3px #111;
background-size:cover;
padding:0;
}
#search{
width: 600px;
height:32px;
left: 400px;
top:3px;
position: absolute;
}
#esearch{
/*position:fixed;
transform:translate(-50%,0);
left:50%;
top:6px;
width:400px;
max-width:40%;
font-size:16px;
padding:3px;
font-style:italic;
border:none;
border-bottom:2px solid #999;
 -moz-appearance: none;*/
border: 1px solid #d9d9d9;
z-index: 0;
width: 90%;
padding:3px;
}
.button-search{
 background-color: #bdc3c7;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding: 1px;
    position: absolute;
    z-index: 2;
}
#esearch:hover{
border-color:#787878;
}
#esearchbox{
position:fixed;
transform:translate(-50%,0);
left:50%;
top:40px;
width:55%;
height:0px;
background:#fffffb;
transition:0.5s;
box-shadow:1px 2px 3px #666;
overflow:hidden;
z-index:2;
}
#clocktop{
margin:0;
position:fixed;
right:40;
font-size:24px;
display:none;
}
#noficon{
height:30px;
padding:5;
margin:0;
position:fixed;
right:0;
}
#nof{
transition:0.5s;
position:fixed;
top:46px;
right:0;
width:300px;
height:0%;
overflow:hidden;
background:rgba(255,255,255,0.95);
box-shadow:-1px 2px 1px #444;
z-index:10000;
}
#searchbox,#searchhistory{
width:50%;
height:50px;
padding:0;
margin:0;
background:#ddd;
background-repeat:no-repeat;
background-size:30px;
  background-position: center;
}
#searchbox{
background-image:url('../img/search.png');
border-top:solid 3px #525;
	float:left;
	transition:none;
	z-index:3;
}
#searchhistory:hover{
transition:none;
background-color:#bbb;
}
#searchbox:hover{
background-color:#bbb;
}
#searchhistory{		

background-image:url('../img/searchhis.png');
			float:right;
}
#listsearch{
height:150px;
overflow-y:scroll;
}
#listsearchhis{
height:150px;
overflow-y:scroll;
display:none;
}
#listsearch div{
  font-size:14px;
  padding:6px 0px 6px 0px;
  width:100%;
  cursor:pointer;
   text-align:center;
   border-bottom:solid 1px #cfcfcf;
}
#listsearch img{
  float:left;
border-radius:5px;
margin-left:2px;
  height:16px;
box-shadow:9px 2px 3px #1d1d1d inset;
}
#listsearchhis span{
display:block;
width:100%;
padding-top:3px;
padding-bottom:3px;
cursor:pointer;
border-bottom:1px solid #dfdfdf;
}
.window{
	position: fixed;
	transition:0s;
	top:0;
	min-width:250px;
	min-height:250px;
width:100%;
height:100%;
z-index:2;
padding:0px;
}
.window .header{
	height:40px;
  line-height: 40px;
  transition:0s;
	width:100%;
	background-color: rgba(244,244,244,0.9);
	text-align:center;
  padding-bottom:2px;
}
.window .header img{
	float:left;
	height:30px;
	transition:0s;
	width:30px;
  padding: 5px;
}
.if{
position:absolute;
top:40px;
transition:0s;
background:#345;
 bottom:0;
 right:0;
 left:0; 
min-height:50px;
}
.window iframe{
width:100%;	
transition:0s;
height:100%;
background:#fff;
border:none;
}
.window .toolwindow{
float:right;
transition:0s;
border-radius: 0 0 5px 5px;
padding-right: 10px;
margin-right: 15px;
padding-left: 10px;
background: #ecf0f1;
}

.window .toolwindow img, .window .toolwindow span#closebutton{
  height:25px;
  width:25px;
  transition:0s;
  margin: 0 1px;
}

.window .toolwindow img:hover{
  background: #bdc3c7;
  transition:0s;
}

.window .toolwindow span#closebutton:after{
  content: "X";
  transition:0s;
}

.window .toolwindow span#closebutton{
  font-size: 16pt;
  padding: 5px;
  color: #000;
  display: inline-block;
  transition:0s;
  line-height: 25px;
}

.window .toolwindow span#closebutton:hover{
  background: #e74c3c;
  transition:0s;
  color: #fff;
}
/*nof*/
#clock{
background:#fbfbfb;
border-radius:2px;
padding:8px;
font-size:24px;
box-shadow:1px 2px 3px #cfcfcf;
}
.tt{
background:rgba(33,33,33,0.5);
border-radius:2px;
padding:6px;
color:#eee;
margin-top:4px;
cursor:pointer;
}
#nofdisplay .divv{
background:#fff;
transition:0.5s;
cursor:pointer;
box-shadow:2px 3px 4px #aaa;
transition:1s;
text-align:left;
margin-top:2px;
border-radius:1px;
padding:6px;
margin-right:8px;
width:95%;
}
#nofdisplay div img{
width:40px;
height:40px;
}
#nofdisplay{
position:absolute;
top:64px;
bottom:40px;
width:100%;
overflow-y:scroll;
overflow-x:hidden;
}
#noftool{
position:absolute;
height:40x;
bottom:0px;
width:100%;
overflow:hidden;
cursor:pointer;
text-align:center;
padding-bottom:4px;
}
#noftool:hover{
background:#eee;
transition:0.3s;
}
#nofdistemp{
  min-height:54px;
  width:250px;
  padding:6px;
  background:#fbfbfb;
  position:fixed;
  z-index:10003;
  right:15px;
  top:55px;
  border-radius:3px;
  box-shadow:2px 4px 2px #333;
  display:none;
  }
#nofdistemp img{
	padding:2px;
width:40px;
height:40px;	
} 
#stt{
text-align:right;
transition:0.5s;
cursor:pointer;	
}
#stt:hover{
background:#aaa;
}
#stt:active{
background:#888;
}
#stt img{
height:14px;
padding:3px;
}
#countnof{
padding:0px 6px 0px 6px;
 background:#d9534f;
 border-radius:3px;
 color:#fbfbfb;
 box-shadow:1px 0px #B0514B;
}
.range{
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   height: 10px;
  margin: 0;
  border: none;
  border-radius: 14px;
  background: #232528;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none; /* no focus outline */
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 22px;
  height: 16px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

#lockbg{
position:fixed;
top:0;
left:0;
z-index:10010;
width:100%;
height:100%;
border-radius:2px;
padding:18px;
background:rgba(22,22,22,0.8);
background-size:cover;
}
#locklog{
position:fixed;
transform:translate(-50%,-50%);
top:50%;
left:50%;
}
#locklog button{
background:rgba(255,255,255,0.9);
border:2px solid #eee;
color:#ddd;
transition:0.5s;
font-size:22;
padding:6px;
box-shadow:1px 2px 5px #222;
color:#aaa;
}
#locklog button:hover{
background:#ddd;
text-shadow:none;
box-shadow:none;
color:rgba(22,22,22,0.1);
}

#power{
position:fixed;
transform:translate(-50%,-50%);
top:50%;
left:50%;
z-index:10001;
background:#fff;
min-width:250px;
color:#444;
border-radius:2px;
padding:18px;
box-shadow:0px 0px 10px #444;
display:none;
}
#power div{
padding:6px;
border-top:#eee solid 2px;
cursor:pointer;
transition:0.5s;
}
#power div:hover{
background:#eee;
}
#power div:active{
background:#888;
}

#danhiem{
position:fixed;
transition:0.5s;
left:0;
top:50%;
transform:translate(0,-50%);
width:0.1%;
height:60%;
padding:0.5px;
box-shadow:1px 2px 3px #aaa;
background:rgba(255,255,255,0.95);
overflow:hidden;
cursor:default;
z-index:10000;
}
#danhiemleft{
position:fixed;
transition:0.5s;
top:0;
left:0;
height:100%;
width:1px;
overflow:hidden;
z-index:9999;
}
#danhiemleftbox{
position:fixed;
transition:0.25s;
top:0;
left:0;
height:99.6%;
width:0%;
display:none;
padding:0;
background:rgba(108, 64, 82,0.7);
border:solid 2px #6C4052;
border-radius:2px;
overflow:hidden;
z-index:9999;
}
#danhiemright{
position:fixed;
transition:0.5s;
top:0;
right:0;
height:100%;
width:1px;
overflow:hidden;
z-index:9999;
}
#danhiemrightbox{
position:fixed;
transition:0.25s;
top:0;
background:rgba(108, 64, 82,0.7);
right:0;
height:99.6%;
width:0%;
display:none;
padding:0;
border:solid 2px #6C4052;
border-radius:2px;
overflow:hidden;
z-index:9999;
}
#danhiem:hover{
width:30%;
}
#danhiem div{
width:40%;
margin:0.5%;
box-shadow:1px 2px 3px #555;
display:inline-table;
padding:5px;
}
#danhiem div img{
width:30px;
height:30px;
}
#danhiem div span{
float:right;
}
.window .animated{
position:absolute;
top:0px;
bottom:0;
width:100%;
/*box-shadow:1px 2px 2px #999;*/
}
#danhiembg{
transition:0.5s;
width:100%;
height:100%;
position:fixed;
top:0;
left:0;
z-index:9999;
background:rgba(3,3,3,0.7);
display:none;
}
.danhiemtool{
width:30%;
background:#eee;
padding:10px;
margin:0;
}
.danhiemtool:hover{
transition:0.25s;
background:#aaa;
}
.danhiemtooldiv{
display:block;
width:100%;
position:absolute;
bottom:0;
padding:10px;
}
#danhiembox{
overflow-y:scroll;
position:absolute;
top:0;
bottom:42px;
width:100%;
}
#applauncher{
transition:0.5s;
width:100%;
height:120px;
overflow:hidden;
border-bottom:2px solid #345;
}
#applauncher img{
height:100px;
margin:6px;
margin-left:1px;
margin-right:1px;
cursor: hand;
border:solid 3px rgba(211,211,211,0);
}
#applauncher img:hover{
border:solid 3px rgba(211,211,211,0.5);
}
#applauncher img:active{
transition:0.25s;
transform: rotateX(50deg);
}
#widget{
transition:0.5s;
position:fixed;
width:100%;
top:199px;
bottom:0;
z-index:1;
}
#widgetfbfanpage,#widgetapp{
position:absolute;
padding:0.5%;
z-index:-1;
width:49%;
overflow-y:scroll;
padding-bottom:9px;
top:0;
bottom:0;
}
#widgetfbfanpage div{
background:#eee;
background-image:url('../img/fb40.png');
background-repeat:no-repeat;
padding:6px;
text-align:center;
margin-top:3px;
transition:0.25s;
}
#widgetfbfanpage div:hover{
box-shadow:1px 2px 3px #eee;
}
#widgetfbfanpage{
left:0;
background:rgba(34,34,34,0.3);
}
#widgetapp{
right:0;
overflow-x:hidden;
}
#musicsub{
background:rgba(0,0,0,0.5);
color:#fff;
box-shadow:1px 2px 5px #444;
position:fixed;
z-index:10000;
top:2px;
left:120px;
height:20px;
max-width:500px;
border-radius:2px;	
}





.back{
background:url(../img/back.png);
float:left;
}
.tien{
background:url(../img/tien.png);
float:right;
}
.back,.tien{
width:50%;
height:30px;
display:block;
background-repeat:no-repeat;
background-size:25px;
  background-position: center;
}
.back:hover,.tien:hover{
background-color:#ccc;
}
.back:active,.tien:active{
background-color:#333;
}
.custom-menu {
    display: none;
    z-index: 10001;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 1px;
    padding: 0;
}
.custom-menu li{
padding:5px;
}
.custom-menu li:hover{
background:rgba(3,4,5,0.8);
color:#eee;
}
